<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Изменить этот товар", edit_product_path(@product) %> |
  <%= link_to "Вернуться к продуктам", products_path %>

  <%= button_to "Удалить этот продукт", @product, method: :delete %>
</div>
